@model IEnumerable<ZeiterfassungPierburg.Models.ViewModel.MitarbeiterInschichtViewModel.MitarbeiterInschichtViewModel>


@Styles.Render("~/bundles/tablePluginStyleBundle")




<title>
    @ViewBag.Title
</title>
<section class="content container-fluid">
    <div class="box-header with-border ">
        <div class="box box-info ">
            <div class="box-header with-border " >
                <h3>Übersicht der Mitarbeiter in Schichten</h3>


                <div class="row row-list" style="padding-bottom: 25px; padding-top: 15px">
                    <div class="col-xs-2">
                        <label>Einträge von:</label>
                        <input class="form-control text-box single-line" id="min" name="Datum" type="date">
                    </div>
                    <div class="col-xs-2">
                        <label>Einträge bis:</label>

                        <input class="form-control text-box single-line" id="max" name="Datum" type="date">
                    </div>
                    <div class="col-xs-2">
                        <label>Wähle die Schicht aus:</label>

                        <select class="form-control text-box single-line" id="schicht">
                            <option value="">alle Schichten</option>
                            <option value="1">Früh</option>1
                            <option value="2">Spät</option>
                            <option value="3">Nacht</option>
                        </select>
                    </div>

                    <div class="col-xs-2">

                        <label>Wähle das Band aus:</label>
                        @Html.Raw((String)ViewBag.AnlageFilter)
                    </div>


                </div>

                <table id="myTable" class="table table-striped table-bordered" style="text-align:center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Datum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Art)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Anlage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Personalnummer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Kostenstelle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SAPAPNr)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ZeichenNr)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stück)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DirStunden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InDirStunden)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bemerkung)
                            </th>
                            <!--
                            <th>
                                @Html.DisplayNameFor(model => model.Auswertung)
                            </th>
                                -->

                            <th>
                                @Html.DisplayNameFor(model => model.IstInSAPEingetragen)
                            </th>

                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr value="@item.ID" , id="row+@item.ID">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Datum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Art)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Anlage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Personalnummer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kostenstelle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SAPAPNr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZeichenNr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stück)
                                </td>
                                <td name="dst">
                                    @Html.DisplayFor(modelItem => item.DirStunden)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InDirStunden)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.Bemerkung)
                                </td>
                                <td>

                                    <input type="checkbox" href="#" id="eintragen_@item.ID" name="eintragen" value="@item.ID" style="height: 15px; width: 100%; margin: auto;">
                                </td>
                                <!--
                                    <td>
                                    @Html.DisplayFor(modelItem => item.Auswertung)%
                                </td>
                                    -->
                                <td>

                                    <a href="MitarbeiterInSchicht/Edit/@item.ID"><span style="color:dimgrey" class="glyphicon glyphicon-edit"></span></a>

                                    |
                                    <!--   @Html.ActionLink("Löschen", "Delete", new { id = item.ID }, new { onclick = "return confirm('Wirklich löschen?');" })-->
                                    <a href="MitarbeiterInSchicht/Delete/@item.ID" onclick="return confirm('Wirklich löschen?'); "><span style="color:dimgrey" class="glyphicon glyphicon-remove"></span></a>

                                    <a id="@item.ID" hidden>@item.IstInSAPEingetragen</a> <!-- keep value of istINSAPEingetragen becaue the boolen value can't be passed as attribute (dunno why)-->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @ViewBag.Message

                <!--
                     @Html.ActionLink("Neue Zeiterfassung", "Create", "Neuezeiterfassung", null, new { @class = "pull-right btn btn-default", @type = "button", });
                -->
            </div>
        </div>
    </div>
</section>
<iframe id="txtArea1" style="display: none"></iframe>



@section scripts{



    @Scripts.Render("~/bundles/tableScriptBundle")
    @Scripts.Render("~/bundles/dataTablesPlugins")



    <script>

        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day - 1);

        $('#min').val(today); //set filter date to yesterday
        $('#max').val(today); //set filter date to yesterday


            function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
            }
            var today = new Date();

       
            jQuery.fn.dataTableExt.afnFiltering.push(
                function (oSettings, aData, iDataIndex) {
                    var iColumn = 0;
                    var schichtColumn = 1;
                    var anlageColumn = 2; //which column

                    var iMin = Date.parse(document.getElementById('min').value);
                    var iMax = Date.parse(document.getElementById('max').value);

                    var iVersion = (aData[iColumn] == "-" ? 0 : aData[iColumn]);
                    iVersion = Date.parse(iVersion);

                    var schichtColumn = (aData[schichtColumn] == "-" ? 0 : aData[schichtColumn]) * 1;
                    var schicht = $(document.getElementById('schicht')).children("option:selected").val();


                    var anlageColumn = (aData[anlageColumn] ==    "-" ? 0 : aData[anlageColumn]);
                    var anlage = $(document.getElementById('anlageFilter')).children("option:selected").val();

                    if ((iMin > iVersion || iVersion > iMax) || (schicht != schichtColumn && schicht != "") || (anlage != anlageColumn && anlage != "")) {

                        return false;
                    }
                    else return true;
                }
            )

        var table = document.getElementById('myTable');


        

            var rowLength = table.rows.length;
            for (var i = 0; i < rowLength; i += 1) {

                var row = table.rows[i];
                var id = row.getAttribute('value'); //id
                var boolValue = $('#' + id).text(); //get bool value

                if (boolValue == 'True') {
                    $("#eintragen_" + id).prop("checked", true);
                    $(row).css("background-color", "#90ee90");
                }
                if (boolValue == 'False') {
                    $("#eintragen_" + id).prop("checked", false)
                    $(row).css("background-color", "#ffcccb");
                }
            }


            $(document).ready(function () {


                var table = $('#myTable').DataTable(
                    {
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>',
                                text: '<span><img height="40" width="40" src="Content/dist/img/icon_copy.png"/></span>',
                                exportOptions: {
                                    columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11]
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<span><img height="40" width="40" src="Content/dist/img/icon_excel.png"/></span>',
                                exportOptions: {
                                    columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11]
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<span><img height="40" width="40" src="Content/dist/img/icon_pdf.png"/></span>',
                                exportOptions: {
                                    columns: [0, 1, 2, 4,5,6,7,8,9,10,11]
                                }
                            },
                            {
                                extend: 'print',
                                text: '<span><img height="40" width="40" src="Content/dist/img/icon_print.png"/></span>',
                                exportOptions: {
                                    columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11]
                                }
                            }

                        ]
                    });

                $('#min, #max, #schicht, #anlageFilter').change(function () {
                    table.draw();
                });
        });


             var url = '@Url.Action("Eintragen", "MitarbeiterInSchicht")';

                $('[id^=eintragen_]').click(function () {

                    var id = $(this).attr('value'); // get ID
                    var boolValue = $('#' + id).text(); //get bool value

                    var row = $(this).closest("tr");

                    $.getJSON(url, { istEingetragen: boolValue, id: id }, function (response) {

                        if (response == 0) {
                            alert('Das lief schief. Aktualisiere die Seite und versuche es erneut.')
                        }
                    });
                    //change colors if clicked
                    if (boolValue == 'True') {
                        $(row).css("background-color", "#ffcccb");
                        $('#' + id).text('False');
                    }
                    else if (boolValue == 'False') {
                        $(row).css("background-color", "#90ee90");
                        $('#' + id).text('True');
                    }
            });
    </script>

}

