@model ZeiterfassungPierburg.Models.Mitarbeiter

@{
    ViewBag.Title = "test";
}

<h2>test</h2>

<div>
    <h4>Mitarbeiter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kostenstelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kostenstelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personalnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personalnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abrechnungskreis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrechnungskreis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mitarbeiterkreis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mitarbeiterkreis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschäftigungsart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschäftigungsart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.istAktiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.istAktiv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
