@model ZeiterfassungPierburg.Models.ViewModels.Dashboard


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Herzlich willkommen!
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @ViewBag.MitarbeiterAnzahl
                    </h3>
                    <p>Mitarbeiter</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/Mitarbeiter/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        @ViewBag.Produktionsanlagen
                    </h3>
                    <p>Produktionsanlagen</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="~/Produktionsanlage/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        @ViewBag.Fertigungsteile
                    </h3>

                    <p>Fertigungsteile</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/Fertigungsteil/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3> @ViewBag.Zeiterfassungen</h3>

                    <p>Zeiterfassungen</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="~/MitarbeiterInSchicht/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <div class="box-footer text-black">
                <h4>Statistik der Stücke:</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="clearfix">
                            <span>letzte Woche gesamt: <h3> @ViewBag.StückeWoche </h3></span>
                            <hr />
                        </div>
                        <div class="col-sm-12">
                            <div class="clearfix">
                                <h5><span id="day0"></span><span class="pull-right"><span class="label label-warning"> @ViewBag.StückeToday </span></span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day1"></span><span class="pull-right"><span class="label label-warning"> @ViewBag.StückeMinusOneDay </span></span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day2"></span><span class="pull-right"><span class="label label-warning"> @ViewBag.StückeMinusTwoDays </span></span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day3"></span><span class="pull-right"><span class="label label-warning"> @ViewBag.StückeMinusThreeDays</span> </span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day4"></span> <span class="pull-right"><span class="label label-warning"> @ViewBag.StückeMinusFourDays </span></span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day5"></span><span class="pull-right"> <span class="label label-warning"> @ViewBag.StückeMinusFiveDays </span></span></h5>
                            </div>
                            <div class="clearfix">
                                <h5><span id="day6"></span><span class="pull-right"> <span class="label label-warning"> @ViewBag.StückeMinusSixDays</span> </span></h5>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-xs-6">
            <div class="box-footer text-black">
                <h4>Produktivität</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span class="pull-left">Band 101</span>
                            <small class="pull-right">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 102</span>
                            <small class="pull-right">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 103</span>
                            <small class="pull-right">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 104</span>
                            <small class="pull-right">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 203</span>
                            <small class="pull-right">45%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 45%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 104/105</span>
                            <small class="pull-right">49%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 49%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 108</span>
                            <small class="pull-right">89%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 89%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 201</span>
                            <small class="pull-right">103%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 103%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="box-footer text-black">
                <h4>Chart - Test</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="piechart"></div>
                    </div>
                </div>
            </div>
        </div>
</section>


@section scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <script>



        $(document).ready(function () {


            var weekday = new Array(7);
            weekday[0] = "Sontag";
            weekday[1] = "Montag";
            weekday[2] = "Dienstag";
            weekday[3] = "Mittwoch";
            weekday[4] = "Donnerstag";
            weekday[5] = "Freitag";
            weekday[6] = "Samstag";

        var i;
        for (i = 0; i < 7; i++) {


            n = new Date();
            n.setDate(n.getDate() - i);

            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();


            var a = weekday[n.getDay()];

            document.getElementById("day"+i).innerHTML = a +", "+ d + "." + m + ".     ";
        }
        /*
            var dateString = "12/22/2017";
            var date1 = new Date(dateString);
            var daysPrior = 28;
            date1.setDate(date1.getDate() - daysPrior));
        print(date1.toISOString()); 
        */


    });




    // Load google charts
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Test1', 5],
            ['Test2', 2],
            ['Test3', 4],
            ['Tst4', 2],
            ['Test5', 8]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': 'Durschnittproduktivität', 'width': 550, 'height': 400 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    </script>
}