@model ZeiterfassungPierburg.Models.ViewModels.Dashboard

@if (Convert.ToInt32(Session["AccessLayer"]) == 0)
{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@{
    // get the model
    var d = ViewData.Model;
}
<link href="~/Content/Chart.css" rel="stylesheet" />

<!-- Typewriter for fun only -->
<link href="~/Content/TextAnimation.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <fieldset>

        <!-- Display name only if logged in -->
        @if (Session["UserName"] != null)
        {<text>
                <div class="typewriter">
                    <div class="typewriter-text">
                        <p id='datumsausgabe'>
                            Herzlich willkommen, @Session["UserName"].ToString()! <br />
                        </p>
                    </div>
                </div>
        </text>
    }
    </fieldset>

</section>
<section class="content">

    <!-- Display boxes only if logged in -->
    @if (Convert.ToInt32(Session["AccessLayer"]) == 1 || Convert.ToInt32(Session["AccessLayer"]) == 2)
    {<text>

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>
                                @d.MitarbeiterAnzahl
                            </h3>
                            <p>Mitarbeiter</p>
                        </div>
                        <a href="~/Mitarbeiter/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                @d.Produktionsanlagen
                            </h3>
                            <p>Produktionsanlagen</p>
                        </div>

                        <a href="~/Produktionsanlage/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>
                                @d.Fertigungsteile
                            </h3>

                            <p>Fertigungsteile</p>
                        </div>
                        <a href="~/Fertigungsteil/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3> @d.ZeiterfassungenAnzahl</h3>
                            <p>Zeiterfassungen</p>
                        </div>
                        <a href="~/MitarbeiterInSchicht" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
    </text>
}

    <div class="col-lg-3 col-xs-6">
        <div class="box-footer text-black">
            <h4 style="padding-bottom: 20px;">Produktivität im letzten Monat - Bänder</h4>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Progress bars -->
                    <div class="clearfix">
                        <div id="productivity"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer text-black">

            <h4 style="padding-bottom: 20px;">Produktivität im letzten Monat - Maschinen</h4>

            <div class="row">
                <div class="col-sm-12">
                    <!-- Progress bars -->
                    <div class="clearfix">
                        <div id="productivityMaschinen"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xs-6">
        <!-- For performance reasons - show the chart only if the loading doesn't take too much
             The number 15000 is arbitrary - may be adjused       -->

        @if (d.ZeiterfassungenAnzahlLastYear < 15000)
        {
        <div class="box-footer text-black">
            <h4>Produktivität der letzten 12 Monate</h4>
            <h6><small>berechnet von insgesamt @d.ZeiterfassungenAnzahlLastYear Einträgen</small> </h6>

            <canvas id="bar-chart" width="700" height="330"></canvas>
        </div>
        }
        <!-- Here should come the Promon app - not sure if it will work -->
        <div class="box-footer text-black">
            <h4>Placeholder for Pronom</h4>

            <div class="row">
                <iframe src="https://de.wikipedia.org/wiki/Rheinmetall_Automotive" width="100%" height="700"></iframe>
            </div>
        </div>
    </div>
    <!-- Stücke counting box -->
    <div class="col-lg-3 col-xs-6" id="stückFrame">
        <div class="box-footer text-black">
            <h4>Statistik der Stücke:</h4>

            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix">
                        <span>letzte Woche gesamt: <span><big> @d.StückeWoche </big></span></span>
                        <hr />
                    </div>
                    <div class="col-sm-12">
                        <div class="clearfix">
                            <h5><span id="day0"></span><span class="pull-right"><span class="label label-warning"> @d.StückeToday </span></span></h5>
                        </div>
                        <div class="clearfix">
                            <h5><span id="day1"></span><span class="pull-right"><span class="label label-warning"> @d.StückeMinusOneDay </span></span></h5>
                        </div>
                        <div class="clearfix">
                            <h5>
                                <span id="day2"></span><span class="pull-right"><span class="label label-warning">@d.StückeMinusTwoDays</span></span>
                            </h5>
                        </div>
                        <div class="clearfix">
                            <h5><span id="day3"></span><span class="pull-right"><span class="label label-warning"> @d.StückeMinusThreeDays</span> </span></h5>
                        </div>
                        <div class="clearfix">
                            <h5><span id="day4"></span> <span class="pull-right"><span class="label label-warning"> @d.StückeMinusFourDays </span></span></h5>
                        </div>
                        <div class="clearfix">
                            <h5><span id="day5"></span><span class="pull-right"> <span class="label label-warning"> @d.StückeMinusFiveDays </span></span></h5>
                        </div>
                        <div class="clearfix">
                            <h5><span id="day6"></span><span class="pull-right"> <span class="label label-warning"> @d.StückeMinusSixDays</span> </span></h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

@section scripts{
    <script src="~/Scripts/Chart.js"></script>
    <script>


        function loadProduktivitätLast12Months() {

            var monthsDictionary = @Html.Raw(Json.Encode(d.ProduktivitätLast12Months));
        var months = [];
        var values = [];

        for (var key in monthsDictionary) {
            months.push(key)
            values.push(monthsDictionary[key].toFixed(2));
        }
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: "Produktivität (Prozent)",
                        backgroundColor:[
                            'rgba(128, 0, 0, 0.2)',
                            'rgba(170, 110, 40, 0.2)',
                            'rgba(230, 25, 75, 0.2)',
                            'rgba(255, 225, 25, 0.2)',
                            'rgba(60, 180, 75, 0.2)',
                            'rgba(0, 128, 128, 0.2)',
                            'rgba(70, 240, 240, 0.2)',
                            'rgba(13, 102, 55, 0.2)',
                            'rgba(0, 0, 128, 0.2)',
                            'rgba(0, 130, 200, 0.2)',
                            'rgba(240, 50, 230, 0.2)',
                            'rgba(0, 0, 0, 0.2)'
                        ],
                        data: values
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Die Produktivität an allen Anlagen insgesamt in jeweiligen Monaten'
                }
            }
        });
        }

        $(document).ready(function () {

            var weekday = new Array(7);
            weekday[0] = "Sonntag";
            weekday[1] = "Montag";
            weekday[2] = "Dienstag";
            weekday[3] = "Mittwoch";
            weekday[4] = "Donnerstag";
            weekday[5] = "Freitag";
            weekday[6] = "Samstag";


        var i;
        for (i = 0; i < 7; i++) {

            n = new Date();
            n.setDate(n.getDate() - i);

            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();

            var a = weekday[n.getDay()];

            document.getElementById("day"+i).innerHTML = a +", "+ d + "." + m + ".     ";
        }
            var html = '';
                            var dictionary = @Html.Raw(Json.Encode(d.ProduktivitätBerechnungProBandLastMonth));
                            for(var key in dictionary ){
                                var value = dictionary[key];

                            // if a number gets returned, show the number and round it off

                                if (!Number.isNaN(value)) {

                                    html = html + ` <div class="clearfix">
                            <span class="pull-left">`+ key + `</span>
                            <small class="pull-right">`+ value.toFixed(2) + `%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: `+ value + `%;"></div>
                        </div>`;
                                }
                                else {
                                    html = html + ` <div class="clearfix">
                            <span class="pull-left">`+ key + `</span>
                            <small class="pull-right">keine Einträge</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: `+ value + `%;"></div>
                        </div>`;

                                }
            }
            var p = document.getElementById("productivity");
            p.innerHTML = html;

            // Maschinen Produktivität Berechnung
            var htmlMaschinen = '';
            var dictionaryMaschinen = @Html.Raw(Json.Encode(d.ProduktivitätBerechnungProMaschineLastMonth));

            for (var key in dictionaryMaschinen ){
                var value = dictionaryMaschinen[key];

                if (!Number.isNaN(value)) {
                    // if a number gets returned, show the number and round it off
                    htmlMaschinen = htmlMaschinen + ` <div class="clearfix">
                            <span class="pull-left">`+ key + `</span>
                            <small class="pull-right">`+ value.toFixed(2) + `%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: `+ value + `%;"></div>
                        </div>`;
                }
                else { //no number gets returned
                    htmlMaschinen = htmlMaschinen + ` <div class="clearfix">
                            <span class="pull-left">`+ key + `</span>
                            <small class="pull-right">keine Einträge</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: `+ value + `%;"></div>
                        </div>`;
                }
            }
            var r = document.getElementById("productivityMaschinen");
            r.innerHTML = htmlMaschinen;
        });

        setTimeout("loadProduktivitätLast12Months();", 0);

        // display German date - just for fun
        function getDate() {
            var jetzt = new Date(),
                tag = jetzt.getDate(),
                tagZahl = jetzt.getDay(),
                wochentag = ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                monatZahl = jetzt.getMonth(),
                monat = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September',
                    'Oktober', 'November', 'Dezember'],
                text;
            text = 'Heute ist ' + wochentag[tagZahl] + ', der ' + tag + '. ' + monat[monatZahl] + '.';
            document.getElementById('datumsausgabe').textContent += text;
        }
        getDate();

    </script>
}
