@model ZeiterfassungPierburg.Models.ViewModels.Dashboard


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Herzlich willkommen!
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @ViewBag.MitarbeiterAnzahl
                    </h3>
                    <p>Mitarbeiter</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/Mitarbeiter/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        @ViewBag.Produktionsanlagen
                    </h3>
                    <p>Produktionsanlagen</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="~/Produktionsanlage/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        @ViewBag.Fertigungsteile
                    </h3>

                    <p>Fertigungsteile</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/Fertigungsteil/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3> @ViewBag.Zeiterfassungen</h3>

                    <p>Zeiterfassungen</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="~/MitarbeiterInSchicht/Index" class="small-box-footer">zur Tabelle gehen <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <div class="box-footer text-black">
                <h4>Stücke hergestellt letzte Woche:</h4>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="clearfix">
                            <span class="pull-left"><h3> @ViewBag.StückeWoche </h3></span>
                            <!-- /.col -->
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-xs-6">
            <div class="box-footer text-black">
                <h4>Produktivität</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span class="pull-left">Band 101</span>
                            <small class="pull-right">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 102</span>
                            <small class="pull-right">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 103</span>
                            <small class="pull-right">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 104</span>
                            <small class="pull-right">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 203</span>
                            <small class="pull-right">45%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 45%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 104/105</span>
                            <small class="pull-right">49%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 49%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 108</span>
                            <small class="pull-right">89%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 89%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Band 201</span>
                            <small class="pull-right">103%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 103%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>
</section>

