@model ZeiterfassungPierburg.Models.NeueZeiterfassung.NeueZeiterfassung

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <td>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Name, Model.NameList, "- Wähle Mitarbeiter*in -", new { @class = "form-control", @id = "name" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>
    </td>
    <td>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Fertigungsteil, Model.FertigungteilList, "- Wähle Fertigungsteil -", new { @id = "fteil", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Fertigungsteil, "", new { @class = "text-danger" })

        </div>
    </td>
    <td>
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.Stückzahl, new { htmlAttributes = new { @id = "st", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stückzahl, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.DirZeit, new { htmlAttributes = new { @id = "dirzeit", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DirZeit, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.InDirZeit, new { htmlAttributes = new { @id = "indirzeit", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InDirZeit, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>

    
}
