@model ZeiterfassungPierburg.Models.NeueZeiterfassung.NeueZeiterfassung

@if (Convert.ToInt32(Session["AccessLayer"]) == null || Convert.ToInt32(Session["AccessLayer"]) == 0)
{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    <section class="content container-fluid">
        <div class="box box-info">

            <div class="box-body">
                <h2>Neue Zeiterfassung</h2>
                <h5 style="padding-bottom: 25px; padding-top: 5px;">Hinweis: Dezimalzahlen müssen einen Punkt anstatt einer Komma benutzen.</h5>

                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(model => model.Produktionsanlage)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.Datum)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.Schicht)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.Produktionsanlage, Model.ProduktionsanlageList, "- Wähle die Produktionsanlage -", new { @id = "panlage", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Produktionsanlage, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.Schicht, Model.SchichtList, "- Wähle die Schicht -", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="teileTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(model => model.Fertigungsteil)
                                </th>

                                <th>
                                    @Html.LabelFor(model => model.Stückzahl)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DropDownListFor(m => m.FertigungsteilString, (SelectList)ViewBag.TeileEmpty ?? new SelectList(new List<SelectListItem> { }), new { @Id = "fteil0", @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.FertigungsteilString, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Stückzahl, new { htmlAttributes = new { @id = "st", @class = "form-control", @name = "st0" } })
                                    @Html.ValidationMessageFor(model => model.Stückzahl, "", new { @class = "text-danger" })
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table" id="sendTableTeile">

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <i name="submit" style="font-size: 35px; color:green; cursor: pointer; box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); border-radius:25px; " type="submit" value="addMitarbeiter" class="glyphicon glyphicon-plus-sign" onclick="AddRowTeile('teileTable');"></i>
                                                <i name="submit" style="font-size: 35px; color:red; cursor: pointer; box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); border-radius:25px;" type="submit" value="addMitarbeiter" class="glyphicon glyphicon-minus-sign" onclick="RemoveRow('teileTable');"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="test"></div>

                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="mitarbeiterTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.DirZeit)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.InDirZeit)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.Bemerkung)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DropDownListFor(m => m.Name, Model.NameList, "- Wähle Mitarbeiter*in -", new { @class = "form-control", @id = "name", @name = "name0" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </td>

                                <td>
                                    @Html.EditorFor(model => model.DirZeit, new { htmlAttributes = new { @id = "dirzeit", @class = "form-control", @name = "dirzeit0" } })
                                    @Html.ValidationMessageFor(model => model.DirZeit, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.InDirZeit, new { htmlAttributes = new { @id = "indirzeit", @class = "form-control", @name = "indirzeit0" } })
                                    @Html.ValidationMessageFor(model => model.InDirZeit, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Bemerkung, new { htmlAttributes = new { @id = "bemerkung", @class = "form-control", @name = "bemerkung0" } })
                                    @Html.ValidationMessageFor(model => model.Bemerkung, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table" id="sendTableMitarbeiter">

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <i name="submit" style="font-size: 35px; color:green; cursor: pointer; box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); border-radius:25px; " type="submit" value="addMitarbeiter" class="glyphicon glyphicon-plus-sign" onclick="AddRowMitarbeiter('mitarbeiterTable');"></i>
                                                <i name="submit" style="font-size: 35px; color:red; cursor: pointer; box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); border-radius:25px;" type="submit" value="addMitarbeiter" class="glyphicon glyphicon-minus-sign" onclick="RemoveRow('mitarbeiterTable');"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <div>
                                                    <input id="sendButton" name="submit" style="font-size: 18px; box-shadow: 0 10px 15px -8px rgba(0, 0, 0,.7);" type="submit" value="Abschicken" class="pull-right btn btn-default" onlick="RefreshForm()" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="test"></div>

                        </div>
                        @Html.Label("", (string)ViewBag.Message)
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        // SET NAME ATTRIBUTE
        var fteil = document.getElementById('fteil0');
        fteil.setAttribute("name", "fteil0");

        var st = document.getElementById('st');
        st.setAttribute("name", "st0");

        var nameMitarbeiter = document.getElementById('name');
        nameMitarbeiter.setAttribute("name", "name0");

        var dirzeit = document.getElementById('dirzeit');
        dirzeit.setAttribute("name", "dirzeit0");

        var indirzeit = document.getElementById('indirzeit');
        indirzeit.setAttribute("name", "indirzeit0");

        var bemerkung = document.getElementById('bemerkung');
        bemerkung.setAttribute("name", "bemerkung0");


        $(document).ready(function () {
            $("#sendButton").hover(function () {
                var validator = $("#frm").validate();
                validator.form()
            });
        });

var url = '@Url.Action("FetchFertigungsteile", "Neuezeiterfassung")'; // Don't hard code your url's!

        $("#panlage").change(function () {
            var id = $(this).val(); // Use $(this) so you don't traverse the DOM again

            var $eles = $(":input[name^='fteil']");

            $.getJSON(url, { produktionsanlageID: id }, function (response) {

                for (i = 0; i < $eles.length; i++) {

                    $('#fteil' + i).empty();

                    $.each(response, function (index, item) {

                        $('#fteil' + i).append($('<option></option>').text(item));
                    });
                }
                });
        });

        function RemoveRow(table) {
            var myTable = document.getElementById(table).getElementsByTagName('tbody')[0];

            var rowCount = myTable.rows.length;

            if (rowCount != 1) {
                myTable.deleteRow(rowCount - 1);
            }
            else alert('Du musst mindestens einen Mitarbeiter oder eine Mitarbeiterin eingeben');
            var rowCount = myTable.rows.length;
            console.log(rowCount);
        }

    function AddRowTeile(table) {
       // $("#rowForNewMitarbeiter").load('@Url.Action("AddMitarbeiterHTML", "NeueZeiterfassung")');
       // window.location.href = '@Url.Action("AddMitarbeiterHTML", "NeueZeiterfassung")';


        var myTable = document.getElementById(table).getElementsByTagName('tbody')[0];

        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(-1);

        var fteilNew = fteil.cloneNode(true);
        fteilNew.setAttribute("name", "fteil" + currentIndex);
        fteilNew.setAttribute("id", "fteil" + currentIndex);
        fteilNew.setAttribute("required", "true");


        var stNew = st.cloneNode(true);
        stNew.setAttribute("name", "st" + currentIndex);
        stNew.setAttribute("id", "st" + currentIndex);
        stNew.setAttribute("required", "true");

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(fteilNew);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(stNew);

        var rowCount = myTable.rows.length;
        console.log(rowCount);
        }

        function AddRowMitarbeiter(table) {
        // $("#rowForNewMitarbeiter").load('@Url.Action("AddMitarbeiterHTML", "NeueZeiterfassung")');
        // window.location.href = '@Url.Action("AddMitarbeiterHTML", "NeueZeiterfassung")';

        var myTable = document.getElementById(table).getElementsByTagName('tbody')[0];

        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(-1);

        var nameNew = nameMitarbeiter.cloneNode(true);
        nameNew.setAttribute("id", "name" + currentIndex);
        nameNew.setAttribute("name", "name" + currentIndex);
        nameNew.setAttribute("required", "true");

        var dirzeitNew = dirzeit.cloneNode(true);
        dirzeitNew.setAttribute("id", "dirzeit" + currentIndex);
        dirzeitNew.setAttribute("name", "dirzeit" + currentIndex);
        dirzeitNew.setAttribute("required", "true");
        dirzeitNew.setAttribute("type", "number");
        dirzeitNew.setAttribute("max", "9.99");
        dirzeitNew.setAttribute("min", "0");

        var indirzeitNew = indirzeit.cloneNode(true);
        indirzeitNew.setAttribute("name", "indirzeit" + currentIndex);
        indirzeitNew.setAttribute("required", "true");
        indirzeitNew.setAttribute("type", "number");
        indirzeitNew.setAttribute("max", "9.99");
        indirzeitNew.setAttribute("min", "0");

        var bemerkungNew = bemerkung.cloneNode(true);
        bemerkungNew.setAttribute("name", "bemerkung" + currentIndex);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(nameNew);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(dirzeitNew);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(indirzeitNew);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(bemerkungNew);

        var rowCount = myTable.rows.length;
        console.log(rowCount);
        }



        function RemoveRow(table) {
        var myTable = document.getElementById(table).getElementsByTagName('tbody')[0];

        var rowCount = myTable.rows.length;

        if (rowCount != 1) {
            myTable.deleteRow(rowCount - 1);
        }
        else alert('Du musst mindestens 1 eingeben');
        var rowCount = myTable.rows.length;
        console.log(rowCount);
        }

    </script>
}
