<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (@ViewBag.Title != null)
    {
        <title>Pierburg Zeiterfassung</title>
    }
    else
    {
        <title>@ViewBag.Title </title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @if (Convert.ToInt32(Session["AccessLayer"]) == null || Convert.ToInt32(Session["AccessLayer"]) == 0)
    {
        Response.Redirect("~/Zugriffsrechte/Login");
    }

    @if (Convert.ToInt32(Session["AccessLayer"]) == 2)
    {

        <div class="wrapper">

            <div class="hold-transition skin-green sidebar-mini">
                <!-- Main Header -->
                <header class="main-header">

                    <!-- Logo -->
                    <a href="~/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>P</b>BG</span>
                        <!-- logo for regular state and mobile devices -->

                        <span class="logo-lg"><b><img height="150" width="150" src="~/Content/dist/img/pierburg_logo.png" /></b></span>
                    </a>

                    <!-- Header Navbar -->
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->

                        <div class="sidebar-toggle" data-toggle="push-menu"></div>


                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    @{
                                        <a>  @Session["UserName"].ToString() </a>;
                                    }
                                </li>
                                <!-- User Account Menu -->
                                <li class="dropdown user user-menu">
                                    <a href="/Zugriffsrechte/DeleteSession"><span class="glyphicon">&#xe163;</span></a>
                                </li>


                            </ul>
                        </div>
                    </nav>
                </header>
                <aside class="main-sidebar">

                    <section class="sidebar">

                        <ul class="sidebar-menu" data-widget="tree">
                            <li>@Html.ActionLink("NEUE ERFASSUNG - Montage", "Create", "Neuezeiterfassung")</li>
                            <li>@Html.ActionLink("NEUE ERFASSUNG - MEBA", "CreateMEBA", "Neuezeiterfassung")</li>
                            _____________________________

                            <li>@Html.ActionLink("Übersicht - Bänder", "Index", "MitarbeiterInSchicht")</li>
                            <li>@Html.ActionLink("Übersicht - MEBA  ", "IndexMEBA", "MitarbeiterInSchicht")</li>
                            _____________________________
                            <li>@Html.ActionLink("Produktionsanlagen", "Index", "Produktionsanlage")</li>
                            <li>@Html.ActionLink("Fertigungsteile", "Index", "Fertigungsteil")</li>
                            <li>@Html.ActionLink("Mitarbeiter", "Index", "Mitarbeiter")</li>
                            <li>@Html.ActionLink("Teile bei Anlagen", "Index", "TeileInProduktionsanlage")</li>
                            <li>@Html.ActionLink("Produktivität", "Create", "Produktivität")</li>

                        </ul>
                        <!-- /.sidebar-menu -->
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    
                    @RenderBody()

                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                <script src="~/Scripts/adminlte.js"></script>

                @RenderSection("scripts", required: false)
                <script>


                    $("#logout").click(function () {
                    window.location.href = '@Url.Action("DeleteSession", "HomeController")';
                    });
                </script>

            </div>
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                </div>
                <!-- Default to the left -->
                <strong> &copy; @DateTime.Now.Year <a href="https://www.rheinmetall-automotive.com/marken/pierburg/">Pierburg</a>.</strong> All rights reserved.
            </footer>
        </div>
    }
    else if (Convert.ToInt32(Session["AccessLayer"]) == 1)
    {

        <div class="wrapper">

            <div class="hold-transition skin-yellow sidebar-mini">
                <!-- Main Header -->
                <header class="main-header">

                    <!-- Logo -->
                    <a href="~/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>P</b>BG</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b><img height="150" width="150" src="~/Content/dist/img/pierburg_logo.png" /></b></span>
                    </a>

                    <!-- Header Navbar -->
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                        <div class="sidebar-toggle" data-toggle="push-menu">

                        </div>

                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    @{
                                        <a>  @Session["UserName"].ToString() </a>;
                                    }
                                </li>

                                <!-- User Account Menu -->
                                <li class="dropdown user user-menu">
                                    <a href="/Zugriffsrechte/DeleteSession"><span class="glyphicon">&#xe163;</span></a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </header>
                <aside class="main-sidebar">

                    <section class="sidebar">

                        <ul class="sidebar-menu" data-widget="tree">
                            <li>@Html.ActionLink("NEUE ERFASSUNG - Montage", "Create", "Neuezeiterfassung")</li>
                            <li>@Html.ActionLink("NEUE ERFASSUNG - MEBA", "CreateMEBA", "Neuezeiterfassung")</li>
                            _____________________________

                            <li>@Html.ActionLink("Übersicht - Bänder", "Index", "MitarbeiterInSchicht")</li>
                            <li>@Html.ActionLink("Übersicht - MEBA  ", "IndexMEBA", "MitarbeiterInSchicht")</li>
                            _____________________________
                            <li>@Html.ActionLink("Produktionsanlagen", "Index", "Produktionsanlage")</li>
                            <li>@Html.ActionLink("Fertigungsteile", "Index", "Fertigungsteil")</li>
                            <li>@Html.ActionLink("Mitarbeiter", "Index", "Mitarbeiter")</li>
                            <li>@Html.ActionLink("Teile bei Anlagen", "Index", "TeileInProduktionsanlage")</li>
                            <li>@Html.ActionLink("Produktivität", "Create", "Produktivität")</li>
                            <li>@Html.ActionLink("Verwaltung", "Index", "Zugriffsrechte")</li>
                        </ul>
                        <!-- /.sidebar-menu -->
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">


                    @RenderBody()

                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                <script src="~/Scripts/adminlte.js"></script>

                @RenderSection("scripts", required: false)
                <script>


                    $("#logout").click(function () {
                    window.location.href = '@Url.Action("DeleteSession", "HomeController")';
                    });
                </script>

            </div>
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                </div>
                <!-- Default to the left -->
                <strong> &copy; @DateTime.Now.Year <a href="https://www.rheinmetall-automotive.com/marken/pierburg/">Pierburg</a>.</strong> All rights reserved.
            </footer>
        </div>
    }
    
</body>
</html>
    