<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pierburg Zeiterfassung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
</head>

<body>
    <div class="wrapper">

        <div class="hold-transition skin-blue sidebar-mini">
            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>P</b>BG</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Zeiterfassung</b>Pierburg</span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">


                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="~/Content/dist/img/default-50x50.gif" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">Max Mustermann</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/Content/dist/img/default-50x50.gif" class="img-circle" alt="User Image">
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" class="btn btn-default btn-flat">Abmelden</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="img/default-50x50.gif" class="img-circle" alt="User Image">
                        </div>

                    </div>
                    <!-- search form (Optional) -->
                    <!-- /.search form -->
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <!-- Optionally, you can add icons to the links -->
                        <li><a href="Produktionsanlageliste"><i class="fa fa-link"></i><span>Produktionsanlagenliste</span></a></li>
                        <li><a href="MitarbeiterListe"><i class="fa fa-link"></i><span>Mitarbeiterliste</span></a></li>
                        <li><a href=""><i class="fa fa-link"></i><span>Teileliste</span></a></li>


                        <li><a href="SchichtDaten"><i class="fa fa-link"></i><span>Übersicht der Mitarbeiter</span></a></li>
                        <li><a href="SchichtUebersicht"><i class="fa fa-link"></i><span>Übersicht der Schichten</span></a></li>

                    </ul>
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!--
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div> -->


                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            @RenderSection("scripts", required: false)
            <script src="~/Scripts/adminlte.js"></script>
        </div>

    </div>
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 <a href="#">Pierburg</a>.</strong> All rights reserved.
    </footer>
</body>
</html>
