@model IEnumerable<ZeiterfassungPierburg.Models.SchichtInfo>

<section class="content container-fluid">
    <div class="box-header with-border">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3>Übersicht der Schichten</h3>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Datum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Art)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Datum)
                                </td>

                            
                                <td>
                                    @Html.DisplayFor(modelItem => item.Art)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <h4>@ViewBag.MitarbeiterMessage</h4>
                @Html.ActionLink("Hinzufügen", "Create", null, new { @class = "pull-left btn btn-default", @type = "button", })
            </div>
        </div>
    </div>
</section>
@section scripts{
    @Styles.Render("~/bundles/tableStyleBundle")
    @Scripts.Render("~/bundles/tableScriptBundle")

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}