@model ZeiterfassungPierburg.Models.Zugriffsrechte

@{
    ViewBag.Title = "Login";
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/modernizr")

<link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">


@using (Html.BeginForm("Login", "Zugriffsrechte", FormMethod.Post))
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/adminlte.js"></script>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    {
        <!--- Pierburg colors from logo: #0E4170, #167DBF -->

        <body class="hold-transition login-page" style="background-image: linear-gradient(45deg, #0E4170 ,  #167DBF,white);">
            <div class="login-box">
                <div class="login-logo">
                    <img height="115" width="400" src="~/Content/dist/img/pierburg_logo.png" />
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg"><big>Melde dich an. </big></p>

                    <form method="post">
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(a => a.Benutzername, new { @class = "form-control", @placeholder = "Benutzername" })
                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Passwort", @type = "password" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        @if (ViewBag.Login != null)
                        {
                            @ViewBag.Login
                            <br />
                            <br />
                        }
                        <div class="row">
                            <div class="col-xs-8">
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Anmelden</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </body>
    }
}




